<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Multiplayer Tic Tac Toe</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class = "container">
    <button id="reset">Clear Board</button>
  </div>
  <div class="players">
  </div>
  <h2 class = "playerTurn">It is X's turn</h2>
  <div class="board">
    <div class="row">
        <div class="tile" id="cell0"></div>
        <div class="tile" id="cell1"></div>
        <div class="tile" id="cell2"></div>
    </div>
      <div class="row">
        <div class="tile" id="cell3"></div>
        <div class="tile" id="cell4"></div>
        <div class="tile" id="cell5"></div>
      </div>
      <div class="row">
        <div class="tile" id="cell6"></div>
        <div class="tile" id="cell7"></div>
        <div class="tile" id="cell8"></div>
      </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src = "script.js"></script>
</body>
</html>